<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<h1 style="margin-left: 25%">Welcome to your Superhero Database!</h1>
<table class="table table-dark table-striped">
    <thead>
    <tr>
        <th scope="col">Hero Name</th>
        <th scope="col">Real Name</th>
        <th scope="col">Creation Year</th>
        <th scope="col">Powers</th>
    </tr>
    </thead>

    <tbody>
        <tr th:each="Superhero: ${superheroes}">
            <td th:text="${Superhero.heroName}"/>
            <td th:text="${Superhero.realName}"/>
            <td th:text="${Superhero.creationYear}"/>
            <td>
                <a th:href="@{'/superhero/powers/' + ${Superhero.heroName}}">
                    <button type="button" class="btn-light">Powers</button>
                </a>
            </td>
        </tr>
    </tbody>
</table>
<a th:href="@{/superhero/add}">
    <button type="button" style="margin-left: 5px" class="btn-info">Add superhero</button>
</a>
</body>
</html>